* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


/* Estilos del Header */
header {
    background-color: #8bd635;
    color: #FFFFFF;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

nav a:hover {
    border-bottom: 2px solid #FFA500;
}

.logo {
    margin-left: 25px;
    margin-top: 8px;
}