* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


/* Estilos del Header */
header {
    background-color: #8bd635;
    color: #FFFFFF;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

nav a:hover {
    border-bottom: 2px solid #FFA500;
}

.logo {
    margin-left: 25px;
    margin-top: 8px;
}

/* Estilo de fomulario */
.formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content:center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formulario label {
    flex: 1;
    max-width: 200px;
    text-align: right;
    margin-right: 20px;
    margin-top: 18px;
    font-weight: bold;
}

.formulario select,
.formulario input[type="date"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario button {
    flex: 1;
    max-width: 200px;
    margin: 20px auto 0;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    margin-top: 42px;
}

.formulariio label, input, button {
    display: block;
    margin-bottom: 15px;
}

.formulario select, input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formulario button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.formulario button:hover {
    background-color: #0056b3;
}

/* Estilos de Noticias del distrito */
.destinos_de_promocion {
    background-color: #F2F2F2;
    padding: 20px;
    text-align: center;
}

.destinos_de_promocion h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.promociones{
    width: 100%;
    display: flex;
    max-width: 100%;
}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
 .card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
 }

 .card img{
    width: 100%;
    height: 210px;
 }

.card .contenido{
    padding: 15px;
    text-align: center;
}

.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}

.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}

.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover{
    background: #2fb4cc;
    color: #fff;
}



/* Estilos de Áreas temáticas */
.servicios{
    width: 100%;
    display: flex;
    max-width: 100%;
}

.servicios .card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.servicios .card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.servicios .card .contenido a:hover{
    background: #2fb4cc;
    color: #fff;
}


/* Estilo de Números de Utilidad */
details {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 5px;
}

summary {
    padding: 10px;
    border: 1px solid #0056b3;
    cursor: pointer;
    list-style: none;
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
}

summary::before{
    content: "+";
    padding-right: 1rem;
}

details[open] summary::before{
    content: "-";
}
summary:hover {
    background-color: #ff8800;
}

details[open] div {
    background-color: #fff;
    padding: 10px;
}


/* Estilo del footer */
footer {
    background-color: #8bd635;
    color: #000000;
    padding: 20px 0;
    font-size: 14px;
}

.footer-division-test {
    display: flex;
    justify-content: center;
}

.libro-reclamaciones {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 15px;
}


/* Estilo del libro de reclamaciones */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  text-align: left;
}

input, textarea {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #8bd635;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}


/* Estilos de lista de footer */
.lista_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 20px;
  }
  
  .lista_footer ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .lista_footer li {
    margin: 0 20px;
  }
  
  .lista_footer li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .lista_footer li a:hover {
    text-decoration: underline;
    color: #ff6600;
  }

  .lista_footer li a::before {
    content: ' |';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: #333;
  }

  .lista_footer li a::after {
    content: '|';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
  }